body {
    height: 500px;
    width: 500px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background-image: url(../img/sfondo.png);
    font-size: 20px;
    
}

.quablu {
    height: 350px;
    width: 425px;
    background-color: #0088AA;
    color: white;
    margin: 20px;
    box-shadow: 0px 8px 10px #000000;
   
    padding-left: 20px;
}

.quablu > img {
    width: 300px;
    padding-left: 60px;
    padding-top: 25px;
}

.quablu > h1 {
    padding-left: 60px;
    font-size: 20px;
}

.quablu > ul {
    font-size: large;
    padding-left: 150px;
    padding-top: 20px;
}

section{
    height: 3100px;
    width: 425px;
    margin: 20px;
    box-shadow: 8px 8px 10px #000000;
    background-color: white;
    font-size: 25px;
    border: 1px solid black;
    padding-left: 20px;
    
}

h3 {
    font-size: 25px;
}

.autore {
    color: #9DA49F;
    font-size: 18px;
    
}

.testo1 {
    font-size: 20px;
}

.testo1 > span {color: #AA2072;}

.secondalista * span {
    border: 1px solid;
    background-color: #DFDFE0;
    border-color: #908E8F;
}

.testo2 > span {
    color: #AA2072;
}

.tabella th {
    background-color: #4875CE;
    color: white;
}

.tabella tr {
    margin: 15px;
}

.video {
    width: 450px;
}

.email {
    height: 350px;
    width: 407px;
    background-color: #E2DEDF;
}

.email h4 {
    font-size: 25px;
    text-align: center;
    padding-top: 30px;
}

.email p {
    text-align: center;
}
.email2 {
    text-align: center;
    font-size: 35px;
    
}